header {
    padding: 10px;
    margin-bottom: 20px;
    height: auto;
}

.layout-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(620px, 1fr));
    gap: 20px;
}

.layout-panel_left {
    height: inherit;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 50px;
    flex-grow: 1;
}

.layout-panel_right {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 50px;
    flex-grow: 3;
}

footer {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-shrink: 0;
}
