.nav-buttons {
    display: flex;
    flex-basis: content;
    justify-content: space-between;
    flex-grow: 1150;
}

.logo {
    padding-left: 10px;
    padding-right: 10px;
    justify-self: flex-start;
    margin: 0
}

.space-plug {
    flex-grow: 375;
}

.nav-buttons li {
    margin: 5px;
    padding: 5px
}

.login {
    align-self: flex-start;
    justify-self: flex-end;
    padding: 5px;
}

.panel_head {
    height: 25px;
    display: flex;
    justify-content: center;
    margin: -10px;
}

.panel_adventures {
    height: inherit;
    padding: 10px;
}

.panel_adventures .panel_head {
    margin-bottom: 6px;
}

.panel_right_content {
    border-collapse: collapse;
    margin-bottom: 10px;
    width: 100%;
}

.panel_right_content td {
    border: solid 2px black;
    text-align: center;
    padding: 8px;
}

@media screen and (max-width: 1000px) {
    footer .ad_banner {
        display: none;
    }
}

.ad-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.footer_contacts {
    display: flex;
    justify-content: flex-start;
}


.footer_contacts a {
    padding: 5px
}

.modal {
    display: none;
    background-color: #f6ece2;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.modal-content {
    background-color: #f6ece2;
    width: 100%;
}

button:hover {
    cursor: pointer;
    background-color: #73E831;
}

.container {
    min-width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.inventory-form {
    margin: 40px 0px;
}

.inventory-input {
    width: 250px;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 10px;
    margin-right: 10px;
    font-size: 1rem;
}

.add-button {
    background-color: #0000ff;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 7px;
    font-size: 1.2rem;
}

.todo-items {
    min-width: 350px;
}

.item {
    background-color: #fff;
    padding: 10px;
    font-size: 1.1rem;
}
.item:first-child {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}
.item:last-child {
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.checkbox {
    margin-right: 10px;
}

.delete-button {
    float: right;
    background-color: #dc143c;
    border: none;
    outline: none;
    border-radius: 7px;
    padding: 2px 5px;
    margin-left: 10px;
    font-size: 1.1rem;
    font-weight: 550;
}

.checked {
    text-decoration: line-through;
}

.jBox-Modal .jBox-content {
    background-color: #f6ece2;
    border-radius: 5px;
}
