body {
    background-color: #eeeeee;
}

header, #panel_stats, #panel_logs, #panel_adventures, footer  {
    background-color: #ffffff;
    box-shadow: 0 0 4px rgb(0 0 0 / 30%);
}


footer #footer_contacts li a {
    font-size: 13px
}