body {
    background-color: #eeeeee;
}

header {
    background-color: #ffffff;
    box-shadow: 3px 0 7px rgba(0,0,0,.3);
}

#panel_stats {
    background-color: #ffffff;
    box-shadow: 3px 0 7px rgba(0,0,0,.3);
}

#panel_logs {
    background-color: #ffffff;
    box-shadow: 3px 0 7px rgba(0,0,0,.3);
}

#panel_adventures {
    background-color: #ffffff;
    box-shadow: 3px 0 7px rgba(0,0,0,.3);
}

footer {
    background-color: #ffffff;
    box-shadow: 3px 0 7px rgba(0,0,0,.3);
}

footer #footer_contacts li a {
    font-size: 13px
}